{% extends "base.html" %}
{% load static %}
{% block content %}

    <div class="container mt-5" style="min-height: 590px">
        <form action="{% url 'Home' %}" method="POST" enctype="multipart/form-data" id="inputform" name="form1" class="dropzone">
            {% csrf_token %}
            <h4>Wybierz plik w formacie 'jsonocel', który chcesz załadować:</h4>
            <input type="file" name="uploaded_file">
            <button class="btn btn-light" type="submit" id="add">Zatwierdź</button>
        </form>
    </div>

{% endblock %}
